/* BookList.css */

/* 전체 레이아웃 */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #f8f8f8; /* 배경색 */
}

/* 헤더 스타일 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /* 미세한 그림자 */
}

header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

button {
  background-color: #0078ff;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #0058cc; /* 호버 색상 */
  transform: scale(1.05);
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* 도서 목록 */
ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* 그리드 레이아웃 */
  gap: 20px;
}

li {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 */
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 효과 */
}

/* 도서 정보 */
.book-info {
  padding: 10px;
}

.book-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.book-description {
  color: #777;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.book-author {
  font-size: 0.9rem;
  color: #444;
}

/* 검색 입력 폼 */
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

form input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

form input:focus {
  border-color: #0078ff;
}

form button {
  background-color: #0078ff;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #0058cc;
}

form button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
