/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(84, 173, 187),
    #1d6ec4
  ); /* 배경 그라데이션 */
  max-width: 300px; /* 폼 너비를 400px로 고정 */
  min-width: 300px; /* 폼 너비를 400px로 고정 */
  color: white; /* 텍스트 색상 */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 325px; /* 폼 너비를 350px로 고정 */
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
  padding: 20px;
  border-radius: 15px; /* 둥근 테두리 */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* 레이블 색상 */
  margin-left: 20px;
}

.login-form input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* 기본 테두리 */
  border-radius: 8px; /* 둥근 테두리 */
  background-color: #f5f5f5; /* 배경 색상 */
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 입체감 */
  transition: background-color 0.3s, border 0.3s;
}

.login-form input:focus {
  background-color: white;
  border: 1px solid #007bff; /* 포커스 시 파란 테두리 */
}

.login-form button {
  font-size: 1rem;
  padding: 12px;
  background-color: #1d6ec4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px; /* 둥근 버튼 */
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: rgb(188, 46, 46); /* 마우스 오버 시 색상 변경 */
}

.signup-link {
  margin-top: 15px;
  text-align: center;
}

.signup-link p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.signup-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  color: darkred; /* 링크 hover 효과 */
}
